![image.png](imgs/data_types.png)

# Numeric Type
- ingeger
- float
- complext number

In [4]:
a = 3 + 3j
print(type(a), a)

<class 'complex'> (3+3j)

# Lesson: Week 11
## Re-inforcement Learning
## Python types
## Python Operators
## Machine Learning Libraries
### Numpy
### Pandas
### Matplotlib

# Sequence Type
- string
- list
- tuple

In [43]:
a = 'Hello world 2024' # "Hello world 2024"
b = 'How are you'
c = a + b
print(c)

Hello world 2024How are you

In [18]:
print(a)

b = list(a)
print(b)
print(b[0])

l = [1,2,'3',4]
l.append(100)
print(l)
l[-1] = 20
l

Hello world 2024
['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd', ' ', '2', '0', '2', '4']
H
[1, 2, '3', 4, 100]

[1, 2, '3', 4, 20]

# Set

In [38]:
l = list(a) # read, write, append => mutable
s = set(a)
t = tuple(a) # ordered, all data types. IMPORTANT: immutable(read only)
print(l)
l[-1] = 'Hello there'
print(l)
print(s)
print(t)
print(t[-1])
t[-1] = 0

['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd', ' ', '2', '0', '2', '4']
['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd', ' ', '2', '0', '2', 'Hello there']
{'l', '0', 'w', '4', '2', 'H', 'o', 'r', ' ', 'e', 'd'}
('H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd', ' ', '2', '0', '2', '4')
4

TypeError: 'tuple' object does not support item assignment

## Dictionary

In [56]:
d1 = {'David':25, 'Nami': 20, 'John':28} # key: value
d2 = {'Johnson':21, 'Ethan':30}

d3 = {**d1, **d2}
# d3 = d1 | d2
print(d3)

# result = d1.get('Johnson', 10)
# print('result:', result)

{'David': 25, 'Nami': 20, 'John': 28, 'Johnson': 21, 'Ethan': 30}

## Merge data

In [54]:
print(a, b)
l1 = list(a)
l2 = list(b)

l3 = list(set(l1).difference(l2))
print(l3)

s1 = set(a)
s2 = set(b)
# s3 = s1.union(s2) # s2.union(s1)
s3 = s1.difference(s2)
s3

Hello world 2024 How are you
['l', '0', '4', '2', 'd']

{'0', '2', '4', 'd', 'l'}

## Boolean

In [62]:
# True or False
a = 1 # or False
b = 2

c = bool(a<=b)
c

True

## Casting(변수의 타입을 변환)
### integer <-> float
### str <-> list, tuple, set

In [65]:


a = 3
print(type(a))

a = float(a)
print(type(a))

<class 'int'>
<class 'float'>